<div class="sticky">
    <div class="side-card summary-tasks">
      <div class="title" onclick="showHideSideCard(this)">Resumen</div>
      <div class="flex summary-items card-content">
        <div class="summary-item">
          <b>{{summary.pending}}</b>
          <span>Pendientes</span>
        </div>
        <div class="summary-item">
          <b>{{summary.complete}}</b>
          <span>Completas</span>
        </div>
        <div class="summary-item">
          <b>{{summary.lost}}</b>
          <span>Perdidas</span>
        </div>
      </div>
    </div>
  </div>