{% load static %}
<img
  class="sky-item"
  src="{% static 'img/sun.svg' %}"
  alt="sol"
  style="left: 50%; top: 45%"
  height="70%"
/>
<img
  class="sky-item"
  src="{% static 'img/moon.svg' %}"
  alt="Luna madrugada"
  style="left: 5%; top: 70%"
  height="60%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 7%; top: 55%"
  height="10%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 9%; top: 20%"
  height="8%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 1%; top: 30%"
  height="9%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 11%; top: 80%"
  height="8%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 15%; top: 60%"
  height="8%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 19%; top: 30%"
  height="9%"
/>
<img
  class="sky-item"
  src="{% static 'img/moon.svg' %}"
  alt="Luna noche"
  style="left: 95%; top: 70%"
  height="60%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 97%; top: 55%"
  height="10%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 90%; top: 9%"
  height="7%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 85%; top: 90%"
  height="9%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 86%; top: 40%"
  height="8%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 80%; top: 20%"
  height="9%"
/>
<img
  class="sky-item"
  src="{% static 'img/star.svg' %}"
  alt="estrella"
  style="left: 75%; top: 87%"
  height="11%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 22%; top: 70%"
  height="40%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 35%; top: 20%"
  height="30%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 43%; top: 70%"
  height="40%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 60%; top: 55%"
  height="45%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 70%; top: 20%"
  height="35%"
/>
<img
  class="sky-item"
  src="{% static 'img/cloud.svg' %}"
  alt="nube"
  style="left: 76%; top: 53%"
  height="25%"
/>
